div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
mat-card-title {
  margin: 10px;
  font-size: 26px;
}
