<mat-toolbar color="primary" (click)="goback()">
  <mat-toolbar-row>
    <span>Books APP - Angular Frontend + API made with Ruby on Rails</span>
    <button mat-raised-button color="accent" (click)="clickbutton()">
      Info
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-toolbar color="primary" id="toolbar2">
  <mat-toolbar-row>
    <span>Michal Kurzal 2020 </span>
    <a href="https://github.com/MichalKurzal/booksAPI">Books API</a>
  </mat-toolbar-row>
</mat-toolbar>
