<div>
  <mat-card>
    <mat-card-header>
      <img src="assets/book.png" />
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle>Titel</mat-card-subtitle>
      <mat-card-title>{{ book?.titel }}</mat-card-title>
      <mat-card-subtitle>Autor</mat-card-subtitle>
      <mat-card-title>{{ book?.autor }}</mat-card-title>
      <mat-card-subtitle>Seiten</mat-card-subtitle>
      <mat-card-title>{{ book?.seiten }}</mat-card-title>
      <mat-card-subtitle>Erscheinungsjahr</mat-card-subtitle>
      <mat-card-title> {{ book?.Erscheinungsjahr }}</mat-card-title>
    </mat-card-content>
  </mat-card>
</div>
